<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crud App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <div class="container text-center">
        <a href="/">Home</a>
        <h1>List of Employees</h1>
        <% if(message.success){ %>
            <div class="alert alert-success" role="alert">
                <%= message.success %>
            </div>
            <% } %>
                <% for (let i=0; i<list.length;i++) { %>
                    <div class="col">

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Name : <%=list[i].name%>
                                </h5>
                                <p class="card-text">
                                    Designation : <%=list[i].designation%>
                                </p>
                            </div>
                            <ul class="list-group list-group-flush">

                                <li class="list-group-item">
                                    Date of Birth: <%=list[i].dob.getDate()%>/<%=list[i].dob.getMonth()+1%>/
                                            <%=list[i].dob.getFullYear()%>
                                </li>
                                <li class="list-group-item">
                                    Employee ID : <%=list[i].empid%>
                                </li>
                            </ul>
                            <form action="/employee/delete/<%=list[i]._id%>?_method=DELETE" method="POST">
                                <button onclick="return confirm('Are you sure to delete?')" class="btn btn-primary" type="submit">Delete</button>
                            </form>
                            <form action="/employee/edit/<%=list[i]._id%>" method="GET">
                                <button onclick="return confirm('Edit sure ?')" class="btn btn-primary" type="submit">Edit</button>
                            </form>
                        </div>
                        <% } %>
                    </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>


   

</body>

</html>